
html{
  scroll-behavior: smooth;
}
/* ******************navbar start*************** */
.nav-link{
  font-size: 25px;
  margin-left: 5px;
  color: black;
  text-align: left;
  position: relative;
}

.nav-link::after{
 content: "";
 position: absolute;
 background-color: red;
 height: 3px;
 width: 0px;
 left: 0px;
 bottom: -1px;
 transition: width 0.5s;

}

.nav-link:hover::after{
 width: 100%;
}

.dropdown-item:hover{
 color:black;
 background-color: orange;
}


/* **********************navbar end***************** */


.fa-user{
    height: 15px;

 }

 .card:hover{
    background-color: orange;
    color: white;
 }

 /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .footer{
    display: none;
  }
}
   
 